*{
    margin: 0;
    padding: 0;    
    font-family: Assistant,sans-serif;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.logo{
    margin-left: 8px;
    margin-top: 6.5px;
    font-size: 20px;
    font-weight: 700;
}
span.slogan{
    position: absolute;
    margin-left: 8.5px;
    margin-top: 12px;
    font-size: 14.75px;
    font-weight: 500;
    padding-top: 54px;
    color: rgb(185, 184, 184);
}

.header{
    min-height: 100vh;
    width: 100%;
    background: url(img/slider1.jpg) rgba(0,0,0,0.7);    
    transition:background-image 2.5s;
    background-position: center;
    position: relative;
    background-size: cover;
}

.yellow{
    color: #fdd912;
}
nav a{
    text-decoration: none;
}
.white{
    color: white;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav .fa{
    display: none;
}

.nav-links{
    flex: 1;
    margin-top: 27px;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    margin-left: 2.5px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    list-style-type: none;
}
.nav-links ul li a{
    color: #fff;
    display: block;
    padding: 12px 25px;
    position: relative;
    text-decoration: none;
    outline: none;
    font-size: 16px;
}
.li-line::after{
    background: #ffffff;
    position: absolute;
    right: 0;
    width: 1px;
    height: 11px;
    content: '';
    top: 50%;    
    transform: translateY(-50%);;
    -webkit-transform: translateY(-50%);
}

.li-color{
    font-weight:400;
    transition:color 0.7s;
}
.li-color:hover{
    color: #fdd912;
}


.text-head{
    text-align: center;
    margin-top: 27px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left:50%;
}

.coder{
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: 3.5px;
    font-size: 84px;
}
.ctb{
    margin-top: 10px;
    margin-left: 0px;
    letter-spacing: 5px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}


.btn{
    background-color: white;
    color:black;
    border: none;
    font-size: 18px;
    font-weight: 490;
    padding: 11px 30px;
    margin-top: 52.5px;
    margin-bottom: 0px;
    cursor:pointer;
    border-radius: 0;
    text-align: center;
    transition:background-color 0.6s;
}
.btn:hover{
    background-color:#fdd912;
}

.manModel{
    text-align: left;
    padding: 10px;
    padding-left: 100px;
    margin-left: 5px;
    margin-top: 47px;
    width:50%;
    height: auto;
    box-sizing: border-box;
    float: left;
}

.name-style{
    box-sizing: border-box;
    margin-top: 39px;
}
.name-style h2{
    font-weight:bold; 
    color: #282828; 
    font-size: 65px; 
    margin-bottom: 30px; 
    text-align: left;
    line-height: normal;
    margin: 0 0 30px;
    word-wrap: break-word;
}
.name-style h2 small{
    color:#282828; 
    font-size:30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: left;
}

.intro-text{
    width:50%;
    box-sizing: border-box;
    float: left;
    text-align: left;
}

.resume{
    padding: 60px;
    box-sizing: border-box;
}
.resume p{
    margin-bottom: 40px;
    box-sizing: border-box;
    text-align: justify;
    display: block;
    line-height: 1.7em;
    color: #606060;
    font-size: 15px;
    padding-right: 80px;
}

.introduction ul li{
    background-color: #f4f4f4; 
    color: #7f7e7e;
    margin-top: 12px;
    padding: 13px;
    text-align: left;
    font-size: 14px;
}

.introduction ul li strong{
    color: #484747;
    text-align: justify;
}

.cta-select{
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: normal;
    padding: 14px 30px;
    background-color: #fdd912;
    border: none;
    margin-top: 45px;
    border-radius: 0%;
    transition:background-color 1s;
} 
.cta-select a{
    text-decoration: none;
    font-size: 16px;
    color: #282828;
    transition: color 1s;
}

.cta-select a:hover{
    color:white;
}

.cta-select:hover{
    background-color: #282828;
}

ul.info-list-1 {
    list-style-type: disc;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 1.7em;
    padding: 0px;
    padding-right: 60px;
    columns:2;
    -webkit-columns: 2;
}
ul.info-list-1 li{
    list-style: disc;
    margin: 4px 0px;
    line-height: 43px;
    padding: 0px 20px;
    display: inline-block;
    width: 85%;
    background: #f4f4f4;
    font-size: 15px;
    border-radius: 3px;
    text-align: -webkit-match-parent;
}
ul.info-list-1 li strong{
    font-weight: 400;
}

.presentation{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/background2.png);
    background-position: center;
    position: relative;
    background-size: cover;
}

.wwd{
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    background-position: center;
    position: relative;
    background-size: cover;
    padding-bottom: 105px; padding-top: 80px;
}

.wwd h2{
    color: #282828; 
    font-size: 36px; 
    margin-bottom: 60px; 
    text-align: center;
}

.tab-row-coloumn{
    margin: 110px;
    margin-top: 10px;
    box-sizing: border-box;    
    columns:3;    
    -webkit-columns: 3;
    display: flex;
    justify-content: space between;
    flex-wrap: wrap;
}
.tab-row-coloumn::after{
    clear: both;
    content: "";
    display: block;
}
.box-cr h3{
    color: #282828;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 23px auto;
    margin-top: 26px;
    display: block;
    transition: all 0.3s;
}
.box-cr p{
    font-size: 15px;
    color: #282828;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.6;
    margin: 0 0 20px;
    transition: color 0.3s;
}

.box-rc h3{
    color: #282828;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 23px auto;
    margin-top: 26px;
    display: block;
    transition: color 0.3s;
}
.box-rc p{
    font-size: 15px;
    color: #282828;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.6;
    margin: 0 0 20px;
    transition: color 0.3s;
}

.box-rc:hover p,.box-rc:hover h3{
    color: #ffffff;
}
.box-cr:hover p,.box-cr:hover h3{
    color: #ffffff;
}

.box-rc{
    background-color: #fdd912;
    padding: 55px 35px 35px;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    z-index: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1.7em;
    width: 33.333%;
    height: 50%;
    
}

.box-cr{
    background-color: #fff;
    padding: 55px 35px 35px;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    z-index: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1.7em;
    width: 33.333%;
    height: 50%;
}

.box-link{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
}

.round{
    font-size: 25px;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    line-height: 75px;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    background-color: #282828;
    color: white;
}

.box-cr:hover {
    background-color: #282828;
    color: #f4f4f4;
    box-shadow: 0px 0px 20px #676767;
    transform: scale(1.05);
    z-index: 9;

}
.box-rc:hover{
    background-color: #282828;    
    color: #f4f4f4;
    box-shadow: 0 0 20px #676767;
    transform: scale(1.05);
    z-index: 9;

}

.name-style h2{
    line-height: normal;
    margin: 0 0 30px;
}

.name-style h2 small{
    margin-left: 30px;
    display: block;
    font-weight: 400;
}